@tailwind base;
@tailwind components;
@tailwind utilities;

html,
base,
:root {
	height: 100%;
	background: #222;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;

		--linear-gradient: linear-gradient(
			180deg,
			#00000057 0,
			rgba(0, 0, 0, 0.338) 3.5%,
			rgba(0, 0, 0, 0.324) 7%,
			rgba(0, 0, 0, 0.306) 10.35%,
			rgba(0, 0, 0, 0.285) 13.85%,
			rgba(0, 0, 0, 0.262) 17.35%,
			rgba(0, 0, 0, 0.237) 20.85%,
			rgba(0, 0, 0, 0.213) 24.35%,
			rgba(0, 0, 0, 0.188) 27.85%,
			rgba(0, 0, 0, 0.165) 31.35%,
			rgba(0, 0, 0, 0.144) 34.85%,
			rgba(0, 0, 0, 0.126) 38.35%,
			rgba(0, 0, 0, 0.112) 41.85%,
			rgba(0, 0, 0, 0.103) 45.35%,
			#0000001a 48.85%,
			rgba(0, 0, 0, 0.103) 52.35%,
			rgba(0, 0, 0, 0.112) 55.85%,
			rgba(0, 0, 0, 0.126) 59.35%,
			rgba(0, 0, 0, 0.144) 62.85%,
			rgba(0, 0, 0, 0.165) 66.35%,
			rgba(0, 0, 0, 0.188) 69.85%,
			rgba(0, 0, 0, 0.213) 73.35%,
			rgba(0, 0, 0, 0.237) 76.85%,
			rgba(0, 0, 0, 0.262) 80.35%,
			rgba(0, 0, 0, 0.285) 83.85%,
			rgba(0, 0, 0, 0.306) 87.35%,
			rgba(0, 0, 0, 0.324) 90.85%,
			rgba(0, 0, 0, 0.338) 94.35%,
			rgba(0, 0, 0, 0.347) 97.85%,
			#00000059
		);
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 0 0% 13%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		background-color: #222;
	}

	.footer-content li a {
		transition: all 0.4s ease;
	}

	.icons a,
	div.flex a {
		transition: all 0.4s ease;
	}

	.text-balance {
		text-wrap: balance;
	}
}
